{% load i18n %}

{% trans "Bonjour" %},
{% trans "Vous avez soumis une demande de réinitialisation de mot de passe. Pour ce faire, cliquez sur le lien ci-dessous:" %}
{% trans "Réinitialiser mon mot de passe" %}
{% trans "Vous pouvez aussi copier coller ce lien dans votre navigateur:" %}
#
{% trans "Veuillez noter que ce lien expire dans X jours. S'il n'est pas utilisé le mot de passe ne sera pas réinitialisé." %}
{% trans "Si vous n'avez pas fait de demande de changement de mot de passe, vous n'avez qu'à ignorer ce message." %}