.intro-blocs{
  h2{
    margin-bottom: 65px;
    margin-top: 90px;
  }
  .card{
      margin-bottom: 40px;
  }
}

.card {
    height:310px;
    padding-right:30px;

    .blog-card-image {
        height:250px;
        background-repeat: no-repeat;
    }
    &.card-colored{
        &.card-main{
            background-color: $main-color;
            color: #fff;
        }
        &.card-grey{
          background-color: $light-grey;
        }
        &.card-grey-dark{
            background-color: $medium-grey;
            color: #fff;
            background-blend-mode: soft-light;
        }
        &.card-black{
            background-color: $dark-grey;
            color: #fff;
            background-blend-mode: screen;
        }
    }
    .card-content{
        padding: 45px;
        h3{
          margin-bottom: 30px;
        }
    }
}

.image-card-list {
  overflow: hidden;
  background-color: $dark-grey;
}

.product-card-container {
    @include breakpoint(sm) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @include breakpoint(md) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .product-card {
        margin: 0 50px 50px 50px;
        text-align: right;

        &:hover {
            opacity: 0.8;
        }

        @include breakpoint(xs) {
            margin: 0 100px 50px 100px;
        }
        @include breakpoint(sm) {
            margin-left: 0px;
            margin-right: 0px;
            height: 400px;
        }
        .product-card-image {
            margin-bottom: 25px;
            height: 300px;
            background-size: cover;
            background-position: center;
            img {
                height: auto;
                width:100%;

                @include breakpoint(sm) {

                }
            }
        }
        .product-card-title {
            margin-top: 15px;
            color: $grey;
            font-size: 20px;
            font-weight: 600;
            text-align: right;
            margin-right: 10px;
            @include breakpoint(md) {
                font-size: 16px;
            }
            @include breakpoint(lg) {
                font-size: 20px;
            }
        }
        .product-card-description {
            font-size: 14px;
            text-align: right;
            color: $black;
            margin-right: 10px;
        }
        .product-card-price {
            margin-right: 10px;
        }
        &.quote-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .quote-title {
                color: $grey;
                font-size: 20px;
            }
            .quote-author {

            }
        }


    }
}

.fashion-card {
    height: 310px;
    margin-bottom: 100px;

    &:hover {
        opacity:0.8;
    }
    .fashion-card-image {
        position: relative;
        height: calc(100% - 60px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
            width: 100%;
            height: 100%;
        }

    }
    .fashion-card-title {
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .fashion-card-description {
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
    }
}